<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>34523595709-h5kjhb2i8ts7j6nsqgrd0tl9lfvna5dl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.34523595709-h5kjhb2i8ts7j6nsqgrd0tl9lfvna5dl</string>
	<key>API_KEY</key>
	<string>AIzaSyBLMWEX2XISHrnyhKGmI-kgZ1PV_d5Pfg4</string>
	<key>GCM_SENDER_ID</key>
	<string>34523595709</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>msg24926787-gmail.com.Swift5RPUSH1</string>
	<key>PROJECT_ID</key>
	<string>swift5rpush1-915d6</string>
	<key>STORAGE_BUCKET</key>
	<string>swift5rpush1-915d6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:34523595709:ios:cbfc03edfd688742f2c8d4</string>
	<key>DATABASE_URL</key>
	<string>https://swift5rpush1-915d6.firebaseio.com</string>
</dict>
</plist>